### NASDAQ 회사 정보 저장

In [16]:
import pandas as pd
import os

In [17]:
colnames = [
    "ncod", "exid", "excd", "exnm", "symb", "rsym", "knam", "enam",
    "stis", "curr", "zdiv", "ztyp", "base", "bnit", "anit",
    "mstm", "metm", "isdr", "drcd", "icod", "sjong", "ttyp", "etyp", "ttyp_sb"
]

In [19]:
df = pd.read_csv("./files/NASMST.csv", header=None, encoding="cp949", names = colnames)
df

,ncod,exid,excd,exnm,symb,rsym,knam,enam,stis,curr,...,anit,mstm,metm,isdr,drcd,icod,sjong,ttyp,etyp,ttyp_sb
0,US,22,NAS,나스닥,AACB,NASAACB,ARTIUS II ACQUISITION INC,ARTIUS II ACQUISITION INC,2,USD,...,1,930,1600,N,NaN,0,0,0,,
1,US,22,NAS,나스닥,AACBU,NASAACBU,아티우스 애퀴지션 2 유닛,ARTIUS II ACQUISITION INC UNIT 1 COM & RT (27/...,2,USD,...,1,930,1600,N,NaN,0,0,0,,
2,US,22,NAS,나스닥,AACG,NASAACG,ATA 크리에티비티 글로벌(ADR),ATA CREATIVITY GLOBAL SPON ADS EACH REP 2 ORD SHS,2,USD,...,1,930,1600,N,NaN,0,0,0,,
3,US,22,NAS,나스닥,AADI,NASAADI,AADI 바이오사이언스,AADI BIOSCIENCE INC,2,USD,...,1,930,1600,N,NaN,0,0,0,,
4,US,22,NAS,나스닥,AADR,NASAADR,ADVISORSHARES DORSEY WRIGHT ADR,ADVISORSHARES TRUST ADVISORSHARES DORSEY WRIGH...,3,USD,...,1,930,1600,N,NaN,0,0,0,1,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,US,22,NAS,나스닥,ZVSA,NASZVSA,자이버사 테라퓨틱스,ZYVERSA THERAPEUTICS INC,2,USD,...,1,930,1600,N,NaN,0,0,0,,
4596,US,22,NAS,나스닥,ZYBT,NASZYBT,정예 바이오테크놀로지 홀딩,ZHENGYE BIOTECHNOLOGY HLDG LTD,2,USD,...,1,930,1600,N,NaN,0,0,0,,
4597,US,22,NAS,나스닥,ZYME,NASZYME,자임웍스,ZYMEWORKS INC (US),2,USD,...,1,930,1600,N,NaN,0,0,0,,
4598,US,22,NAS,나스닥,ZYXI,NASZYXI,지넥스,ZYNEX INC,2,USD,...,1,930,1600,N,NaN,510,0,0,,
4599,US,22,NAS,나스닥,ZZZ,NASZZZ,CYBER HORNET S&P 500 AND BITCOIN 75/25 STRATEGY,ONEFUND TRUST CYBER HORNET S&P 500 & BITCOIN 7...,3,USD,...,1,930,1600,N,NaN,0,0,0,1,

In [20]:
df = df[[
    "symb", "knam", "enam", "exnm", "stis",
    "curr", "base", "isdr", "sjong"
]]

In [24]:
df = df.rename(columns={
    "symb": "종목코드",
    "knam": "종목명",
    "enam": "영문명",
    "exnm": "거래소",
    "stis": "상품유형",
    "curr": "통화",
    "base": "기준가",
    "isdr": "예탁증서여부",
    "sjong": "지수구성"
})

df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

df

,종목코드,종목명,영문명,거래소,상품유형,통화,기준가,예탁증서여부,지수구성
0,AACB,ARTIUS II ACQUISITION INC,ARTIUS II ACQUISITION INC,나스닥,2,USD,9.9400,N,0
1,AACBU,아티우스 애퀴지션 2 유닛,ARTIUS II ACQUISITION INC UNIT 1 COM & RT (27/...,나스닥,2,USD,10.0754,N,0
2,AACG,ATA 크리에티비티 글로벌(ADR),ATA CREATIVITY GLOBAL SPON ADS EACH REP 2 ORD SHS,나스닥,2,USD,0.9555,N,0
3,AADI,AADI 바이오사이언스,AADI BIOSCIENCE INC,나스닥,2,USD,2.0500,N,0
4,AADR,ADVISORSHARES DORSEY WRIGHT ADR,ADVISORSHARES TRUST ADVISORSHARES DORSEY WRIGH...,나스닥,3,USD,70.2019,N,0
...,...,...,...,...,...,...,...,...,...
4595,ZVSA,자이버사 테라퓨틱스,ZYVERSA THERAPEUTICS INC,나스닥,2,USD,0.7126,N,0
4596,ZYBT,정예 바이오테크놀로지 홀딩,ZHENGYE BIOTECHNOLOGY HLDG LTD,나스닥,2,USD,7.6200,N,0
4597,ZYME,자임웍스,ZYMEWORKS INC (US),나스닥,2,USD,11.2500,N,0
4598,ZYXI,지넥스,ZYNEX INC,나스닥,2,USD,2.1500,N,0
4599,ZZZ,CYBER HORNET S&P 500 AND BITCOIN 75/25 STRATEGY,ONEFUND TRUST CYBER HORNET S&P 500 & BITCOIN 7...,나스닥,3,USD,24.0441,N,0